<h1>Listing rehersals</h1>

<table>
  <thead>
    <tr>
      <th>Rehersal</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rehersals.each do |rehersal| %>
      <tr>
        <td><%= rehersal.rehersal %></td>
        <td><%= link_to 'Show', rehersal %></td>
        <td><%= link_to 'Edit', edit_rehersal_path(rehersal) %></td>
        <td><%= link_to 'Destroy', rehersal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rehersal', new_rehersal_path %>
