<h1>Videos</h1>

<div>
  <%= form_for @video do |f| %>
  <%= f.text_field :url, class: "form-control addurl", style: "margin-bottom: 10px;", placeholder: "Enter YouTube URL here..." %>
  <%= f.text_field :comment, class: "form-control", style: "margin-bottom: 10px;", placeholder: "Comment here..." %>
  <%= f.submit 'Add Video', class: "btn btn-primary form-control" %>
  <% end %>
</div>  
<hr>


<% @videos.each do |video| %>
  <div id="video_<%= video.id %>" class="video-container">
    <%= embed_yt(video.url) %>
  </div>
  <div class="vid_comment">
  <%= video.comment %>
  </div>
  <div>
  <%= link_to 'Remove', video_path(id: video.id), method: :delete, class: "btn btn-danger btn-block " %>
  </div>
  <hr>
<% end %>
