<h1>Listing tunes</h1>

<%= link_to 'New Tune', new_tune_path, class: "btn btn-primary", role: "button" %>

<table class="table">
  <thead>
    <tr>
      <th>Tune</th>
      <th>Key</th>
      <th>Edit</th>
    </tr>
  </thead>

  <tbody>
    <% @tunes.each do |tune| %>
      <tr>
        <% if tune.vocal == true   %>
        <td><%= link_to "#{tune.tune} (v)", tune %></td>
        <% else %>
        <td><%= link_to "#{tune.tune}", tune %></td>
        <% end %>
        <td><%= tune.key %></td>
        <td><%= link_to 'Edit', edit_tune_path(tune) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

