<p id="notice"><%= notice %></p>

<h1>
  <strong><%= @tune.tune %></strong>
</h1>

<% if @tune.vocal %>
<p>
  <strong>Vocal</strong>
</p>
<% end %>
<p>
  <strong>Key:</strong>
  <%= @tune.key %>
</p>

<%= link_to 'Edit', edit_tune_path(@tune) %> |
<%= link_to 'Back', tunes_path %>
