<p id="notice"><%= notice %></p>

<p>
  <strong>Gig:</strong>
  <%= @gig.gig %>
</p>

<p>
  <strong>Gig date:</strong>
  <%= @gig.gig_date %>
</p>

<%= link_to 'Edit', edit_gig_path(@gig) %> |
<%= link_to 'Back', gigs_path %>
